/*li:nth-child(2n) {
    color: lightskyblue;
    
}
li:hover{
    color:black;
}
li:nth-child(odd){
 color:lightskyblue;
}*/
li:nth-child(odd){
    color: aqua;}

    ul:hover li:nth-child(odd){
color: aqua;
    }

    ul:hover li:nth-child(even){
        color: black;
    }